<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="main.css" />

    <title>Document</title>
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs') %>

    <div class="white-bg">
      <% for(let i = 0; i < post.length; i++){ %>
      <!-- Button to detail page -->
      <div class="list-box">
        <h4>
          <a class="no-line" href="/detail/<%= post[i]._id %>">
            <%= post[i].title %>
          </a>
          <a class="no-line color-stay" href="/edit/<%= post[i]._id %>">🖋</a>
        </h4>
        <p><%= post[i].content %></p>
      </div>
      <!--  -->
      <% } %>
    </div>
  </body>
</html>
